.card {
  @include boxSize(width, 100%, null, 100%);
  @include style(inherit, $neutral_lighter);
  @include boxShadow($primary_main, $radius, 2px, $secondary_main, $secondary_light);

  transition: 0.3s;
  margin: auto 0;
  padding: calc($gap * 2);

  .table {
    width: 100%;
    border-collapse: collapse;
    // margin: auto;

    th,
    td {
      border-bottom: 1px solid $neutral_main;
      text-align: left;
    }

    th {
      padding: calc($gap * 1.5) calc($gap * 1);
    }

    td {
      padding: calc($gap * 1);
    }

    .decoration {
      text-decoration: none;
      display: inline-block;
      color: $primary_main;
    }

    &__title {
      @extend .secondary;

      @include style($primary_main);
      font-weight: bold;
    }
  }
}

.icon-center {
  display: flex;
  gap: 5px;
}

.button__danger {
  @extend .buttonTable__danger;
}

.button__success {
  @extend .buttonTable__success;
}

.pagination__box {
  margin: 10px auto;

  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: $radius;
    justify-content: center;

    .page-item {
      margin: 0 4px;

      .page-link {
        @include hover($primary_main, $neutral_lighter, $neutral_lighter, $primary_main);
        @include style($primary_main, $neutral_lighter);
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        border-radius: $radius;
        text-decoration: none;
      }

      &.disabled .page-link {
        @include style($neutral_darker, $neutral_lighter);
        border: 1px solid $neutral_dark;
        pointer-events: none;
        cursor: auto;
        opacity: .65;
      }

      &.active .page-link {
        @include style($neutral_lighter, $primary_main);
        border: 1px solid $primary_main;
      }
    }
  }
}