.formSelect {
  @include paddingMargin(1rem, $margin auto);

  background-color: inherit;
  color: inherit;
  border-radius: $radius;
  border: 1px solid $primary_main;

  &:focus {
    outline: none;
    @include style($primary_main, $neutral_lighter);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

  option {
    @include style($primary_main, $neutral_lighter);
  }

  font-size: 1rem;
  position: relative;
  padding-right: 40px;
}