.main {
  @include mainBox(column, space-around, flex-start);
  @include style($primary_main, $neutral_light);
  font-size: $size_small;
  margin-top: $nav_height;
  gap: $gap;
}

.section {
  @include mainBox(column, space-around, center);
  @include boxSize(width, 95vw, null, 95vw);
  @include paddingMargin($padding, $margin);

  // DeveloperMode
  border: 1px solid blueviolet;
}

.article {
  @include mainBox(column, flex-start, flex-start);
  @include paddingMargin($padding, $margin);
  @include boxSize(width, 85vw, null, 85vw);
  gap: $gap;
  hyphens: auto;
  font-size: $size_smaller;
  line-height: 1.5;
  text-align: center;
  overflow: hidden;

  p {
    text-align: left;

    span {

      text-align: left;
    }
  }

  // DeveloperMode
  border: 1px solid darkgreen;
}

.title {
  @include style($primary_main);
  line-height: 2;
  font-size: $size_bigger;
  font-weight: bold;

  align-self: center;
  text-align: center;
}

.subtitle {
  @include style($secondary_main);
  line-height: 1.5;
  font-size: $size_big;
  font-weight: bold;
  align-self: center;

}

.secondary {
  @include style($secondary_main);
  margin-top: calc($margin * 2);
  line-height: 1.2;
  font-size: $size_medium;
  font-weight: lighter;
  align-self: flex-start;
}

.tertiary {
  // @include style($primary_main);
  margin-top: $margin;
  line-height: 1.2;
  font-size: $size_smaller;
  font-weight: light;
  align-self: flex-start;
}

.name {
  @include style($secondary_main);
}

.content {
  @include style($primary_main);

  text-align: center;
  align-self: center;

  hyphens: auto;
}

.company {
  @include style($secondary_main);
}

.image {
  @include mainBox(column);
  @include boxSize(width, 50vw, null, 50vw);

  overflow: hidden;
}

.unorderedList {
  padding-left: 1rem;
  line-height: 1.5;

  li {
    list-style-type: disc;
    line-height: 1.5;
    text-align: left;
  }
}

.circle {
  @include mainBox(column, flex-start, center);
  @include paddingMargin($padding, $margin);
  @include circleStyle($neutral_main, 50%);
  @include hover($secondary_main, inherit, $neutral_darker, $neutral_dark);

  &__content {
    @include mainBox(column, space-around, center);
    @include paddingMargin($padding, $margin);
    @include boxSize(width, null, null, 15rem);
    @include circleStyle(transparent, 25%, transparent);

    font-size: $size_smaller;
    font-style: italic;
  }

  &__title {
    font-size: $size_big
  }
}

.formInput {
  @include paddingMargin(1rem, $margin auto);
  @include style($secondary_main, $neutral_lighter);
  @include boxSize(width, 75vw, null, 75vw);

  @include hover($neutral_lightest,
    inherit,
    $primary_main,
    $neutral_dark );
  border-radius: $radius;
}

.consent {
  @include mainBox(row, center, center);
  @include paddingMargin(0, $margin auto);
}

.form {
  @extend .article;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($neutral_main, 0.5);
  justify-content: center;
  align-items: center;
}

.modalBox {
  position: relative;
  background: $neutral_lighter;
  top: 10vh;
  left: 10vw;
  @include mainBox(column, center, center);
  @include boxSize(width, 80vw, null, 80vw);
  @include boxSize(height, 80vh, null, 80vh);
  border-radius: $radius;
  @include hover($neutral_lighter,
    inherit,
    $secondary_main,
    transparent);
}