$neutral_darkest: #000000;
$neutral_darker: #1f1f1f;
$neutral_dark: #8f8f8f;
$neutral_main: #c2c2c2;
$neutral_light: #ececec;
$neutral_lighter: #fafafa;
$neutral_lightest: #ffffff;

$primary_darker: #0d1533;
$primary_dark: #101b41;
$primary_main: #17265c;
$primary_light: #1e3177;
$primary_lighter: #2842a0;

$secondary_darker: #004f5d;
$secondary_dark: #007a90;
$secondary_main: #0097b2;
$secondary_light: #00b4d4;
$secondary_lighter: #00c2e5;

$accessory_darker: #00347a;
$accessory_dark: #003b8b;
$accessory_main: #004aad;
$accessory_light: #0059cf;
$accessory_lighter: #0067f1;

$danger_darker: #660000;
$danger_dark: #990000;
$danger_main: #ee0000;
$danger_light: #ff6666;
$danger_lighter: #ffeded;

$success_darker: #1a4d1a;
$success_dark: #008000;
$success_main: #66cc66;
$success_light: #99dd99;
$success_lighter: #eaffea;