* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

::selection {
  background-color: $secondary_main;
  color: $primary_main;
}

picture,
img {
  max-width: 100%;
}
