* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  // display: flex;
  // flex-direction: column;
}

::selection {
  background-color: #ffcc00; /* Color de fondo al seleccionar texto */
  color: #333; /* Color del texto seleccionado */
}
