$size_smaller: 0.5em;
$size_small: 1em;
$size_medium: 1.5em;
$size_big: 2em;
$size_bigger: 2.5em;

$nav-height: 80px;
$footer-height: 70px;

$margin: 0.5rem;
$padding: 0.5rem;
$gap: 0.5rem;
$radius: 0.5rem;
