$size_smaller: 0.9em;
$size_small: 1em;
$size_medium: 1.2em;
$size_big: 1.5em;
$size_bigger: 2em;
$size_biggest: 2.2em;

$nav-height: 5rem;

$margin: 0.25rem;
$padding: 0.25rem;
$gap: 0.5rem;
$radius: 0.5rem;