@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

$font-family-base: "Bruno Ace", sans-serif;

body,
html,
form,
input,
select {
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
