//  Estilos página BiitModules

.biitModules {
  @include flexBox(column, space-around);
  // @include paddingMargin($padding);
  @include style($primary_main, $neutral_light);
  font-size: $size_small;
  margin-top: $nav-height;
  gap: $gap;

  // sections
  .row {
    @extend .section;

    @include paddingMargin(4rem $padding $padding $padding, 0);

    // articles
    .box {
      @extend .box;

      &__title {
        @extend .title;
      }

      &__subtitle {
        @extend .subtitle;
      }

      &__secondary {
        @extend .secondary;
      }

      &__content {
        @extend .content;
      }

      &__name {
        @extend .name;
      }

      &__company {
        @extend .company;
      }

      // &__image {
      //   @extend .image;
      // }

      ul {
        @extend .unorderedList;

      }

      &__button {
        @extend .button;

      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {}

@media screen and (min-width: 601px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}