//  Estilos página Biit
.main {
  @include mainBox(column, space-around);
  @include paddingMargin($padding);
  @include style($primary_main, $neutral_light);
  font-size: $size_small;
  margin-top: $nav-height;
  gap: $gap;

  .header {
    @include mainBox(column, space-around, center);
    @include paddingMargin($padding, 0);
    @include style($primary_main);
    @include boxSize(width, 95vw, null, 95vw);

    &__row {
      @include mainBox(column, space-around, center);
      @include paddingMargin(0 15px);
      @include style($primary_main);
      text-align: center;

      @include boxSize(width, 90vw, null, 90vw);
    }

    .box {
      @include mainBox(column, flex-start, center);
      @include paddingMargin($padding, $margin);
      @include style($primary_main);
      @include boxSize(width, 80vw, null, 80vw);
      gap: $gap;

      &__image {
        @include mainBox(column);
        @include paddingMargin($padding, $margin);
        @include style(null, $neutral_lighter);
        @include boxShadow($neutral_lighter,
          50%,
          3px,
          $secondary_main,
          $secondary_light );
        @include boxSize(width, 250px, null, 300px);
        @include boxSize(height, 250px, null, 300px);

        overflow: hidden;

        img {
          @include mainBox(column, center, center);
          @include paddingMargin($padding);
          padding-top: 4rem;
          @include boxSize(width, 150px, null, 200px);
          @include boxSize(height, 150px, null, 200px);
        }
      }

      &__title {
        @include mainBox(column, space-around, center);
        @include paddingMargin($padding, 0 15px);
        @include style($primary_main);
        @include boxSize(height, 4rem);
        // min-height: 4rem;
        font-size: 35px;
        line-height: 1.5;
      }

      &__content {
        @include paddingMargin($padding, $margin);
        @include style($secondary_main);

        &--title {
          @include mainBox(column, space-around, center);
          @include paddingMargin($padding, 0 15px);
          @include style($secondary_main);
          font-size: 16px;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
        }
      }

      &__button {
        @include mainBox(column, center, center);
        @include paddingMargin($padding, $margin);
        @include button($secondary_main, $neutral_lighter);
        @include boxSize(width, 35vw);
        @include boxSize(height, 5rem);
        font-size: 16px;
        @include hover($secondary_light, $neutral_lighter, $neutral_lighter);
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {}

@media screen and (min-width: 601px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}