// Style Contact page

.birdsContact {
  @extend .main;

  .row {
    @extend .section;

    @include paddingMargin(5rem $padding 2rem $padding, $margin);

    .box {
      @extend .article;

      &__logo {
        @extend .article;

        &__image {
          @extend .logo;

          a img {
            @include boxSize(height, 3.5rem);
          }
        }
      }

      &__title {
        @extend .title;
      }
    }

    .form {
      @extend .form;

      @include mainBox(column, space-around, center);

      &__group {
        &__content {
          @extend .content;
        }

        &__input {
          @extend .formInput;
        }

        &__button {
          @extend .button;
        }

        &__consent {
          @extend .consent;
          gap: $gap ;


          &__check {
            appearance: checkbox;
            width: 1rem;
            height: 1rem;
          }

          &__content {
            @extend .content;

            hyphens: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {}


@media screen and (min-width: 601px) and (max-width: 1024px) {
  .birdsContact {
    .row {
      .form {
        &__group {
          @include mainBox(row, flex-end, center);
          // @include boxSize(width, 75vw, null, 75vw);

          &__input {
            @include boxSize(width, 45vw, null, 45vw);
          }

          &__button {
            margin: $margin auto;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1025px) {
  .birdsContact {
    .row {
      .box__logo {
        @include mainBox(row, center, center);
        gap: 2rem;
      }

      .form {
        &__group {
          @include mainBox(row, flex-end, center);
          // @include boxSize(width, 75vw, null, 75vw);

          &__content {
            @include boxSize(width, 20vw, null, 20vw);
            text-align: right;
          }

          &__input {
            @include boxSize(width, 25rem, null, 25rem);
          }

          &__button {
            margin: $margin auto;
          }
        }
      }
    }
  }
}