// Estyle home page

.home {
  @extend .main;

  .row {
    @extend .section;

    .box {
      @extend .article;

      &__title {
        @extend .title;
      }

      &__content {
        @extend .content;

        &--reverse {
          // @extend .content;

          // reverse colors
          @include style($secondary_main);
        }
      }

      &__name {
        @extend .name;

        &--reverse {

          // reverse colors
          @include style($primary_main);
        }
      }

      &__image {
        @extend .image;

        overflow: hidden;
      }

      &__map {

        @include boxSize(width, null, 85vw);
        @include boxSize(height, null, 420px);
      }

      &__button {
        @extend .button;
      }

      &__row {
        @extend .article;
        @include mainBox(column);
      }

      &__circle {
        @extend .article;

        .circle {
          @extend .circle;

          padding-top: 2rem;

          &__icon {
            @include mainBox(row, center, center);
            @include circleStyle($neutral_lighter, 50%);
            @include boxSize(width, 5rem, null, 5rem);
            @include boxSize(height, 5rem, null, 5rem);

            img {
              @include boxSize(width, null, null, 50px);
              @include boxSize(height, null, null, 50px);
            }
          }
        }
      }
    }
  }

  .row--reverse {
    @extend .section;

    @include boxSize(width, 100vw);

    // Reverse color
    @include style($neutral_lighter, $primary_main);

    .box {
      @extend .article;

      @include mainBox(column, flex-start, center);

      &__title {
        @extend .title;

        // Reverse color
        @include style($neutral_lighter);
      }

      &__content {
        @extend .content;

        // Reverse color
        @include style($neutral_lighter);
        font-style: italic;

      }

      &__button {
        @extend .button;

      }

      &__image {
        @extend .image;

        @include boxSize(width, 70vw, null, 70vw);
        overflow: hidden;
      }


    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .home {
    .row {
      .box {
        &__circle {
          .circle {

            @include boxSize(width, 20rem, null, 20rem);
            @include boxSize(height, 20rem);

            &__content {
              padding-top: 2rem;
              font-size: $size_small;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .home {
    .row {
      .box {
        &__row {

          @include mainBox(row, center, center);
        }

        &__circle {
          .circle {

            @include boxSize(width, 20rem, null, 20rem);
            @include boxSize(height, 20rem);

            &__content {
              padding-top: 2rem;
              font-size: $size_medium;
            }
          }
        }
      }
    }

    .row--reverse {
      .box {
        @include mainBox(row, center, center);
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .home {
    .row {
      .box {
        &__title {
          font-size: $size_biggest;
        }

        &__button {
          @include paddingMargin(calc($padding * 4), calc($margin * 2));
        }

        &__row {

          @include mainBox(row, center, center);
        }


        &__circle {
          @include mainBox(row, center, center);
          gap: 5rem;

          .circle {
            @include boxSize(width, 20rem, null, 20rem);
            @include boxSize(height, 20rem);

            &__content {
              padding-top: 2rem;
              font-size: $size_medium;
            }
          }
        }
      }
    }

    .row--reverse {
      .box {
        @include mainBox(row, center, center);

        &__button {
          @include paddingMargin(calc($padding * 4), calc($margin * 2));
        }
      }
    }
  }
}