// Estilos pagina Home
.main {
  @include flexBox(column, space-around);
  @include paddingMargin($padding);
  @include style($primary_main, $neutral_light);
  font-size: $size_small;
  margin-top: $nav-height;
  gap: $gap;

  .solutions {
    @include flexBox(column, space-around, center);
    @include paddingMargin($padding, 0);
    @include style($primary_main);
    @include boxSize(width, 95vw, null, 95vw);

    &__row {
      @include flexBox(column, space-around, center);
      @include paddingMargin(0 15px);
      @include style($primary_main);
      text-align: center;

      @include boxSize(width, 90vw, null, 90vw);

      min-height: 8rem;

      &--title {
        @extend .solutions__row;
        // @include flexBox(column, space-around, center);
        @include style(inherit);
      }
      &--content {
        @extend .solutions__row;
        @include flexBox(column, flex-start);
        @include style;
        // @include paddingMargin(0 15px);
        // @include style($primary_main);

        // text-align: center;
      }
    }
    .box {
      @include flexBox(column, flex-start);
      @include paddingMargin($padding, $margin);
      @include style($primary_main);
      // min-width No!
      @include boxSize(width, null, null, 80vw);
      @include boxSize(height, 10rem);
      // min-height: 10rem;
      gap: $gap;

      // flex: 5;
      &--title {
        @extend .box;
        // @include paddingMargin($padding, $margin);
        // @include style($primary_main, blue);
      }
      &--content {
        @extend .box;
        // @include paddingMargin($padding, $margin);
        @include style($primary_main, $neutral_main);
        @include boxShadow;
        padding-top: 2rem;
        @include hover($secondary_main, inherit, $neutral_darker);
      }
      &__icon {
        @include flexBox(row, center, center);
        @include style($neutral_lighter, $primary_main);
        // Falta icono
        @include boxSize(width, 50px);
        @include boxSize(height, 50px);

        border-radius: 50%;
        i {
          @include flexBox(row, center, center);
          // color: aqua;
          // background-color: bisque;
          @include paddingMargin($padding);
          // padding: $padding;
          // font-size: 36px;
        }
      }
      &__title {
        @include flexBox(column, space-around, center);
        @include paddingMargin($padding, 0 15px);
        @include style($primary_main);
        @include boxSize(height, 4rem);
        // min-height: 4rem;
        font-size: 35px;
        line-height: 1.5;
      }
      &__content {
        @include paddingMargin($padding, $margin);
        @include style($primary_main);

        &--title {
          @include flexBox(column, space-around, center);
          @include paddingMargin($padding, 0 15px);
          @include style($secondary_main);
          font-size: 16px;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
        }
      }
    }
    // }
  }
  .aside {
    @include flexBox(column, space-around, center);
    @include boxSize(width, 90vw, null, 90vw);
    // min-width: 90vw;
    // max-width: 90vw;
  }

  .about {
    @include flexBox(column, space-around, center);
    @include paddingMargin($padding, 1rem 0);
    @include style($primary_main, $primary_main);
    @include boxSize(width, 100vw);
    @include boxSize(height, 30vw);
    // min-width: 100vw;
    // min-height: 30vh;

    .box {
      @include flexBox(column, flex-start);
      @include paddingMargin($padding, $margin);
      @include boxSize(width, 80vw, null, 80vw);
      @include boxSize(height, 25vw);
      // min-width: 80vw;
      // max-width: 80vw;
      // min-height: 25vh;
      gap: calc($gap * 2);

      &__title {
        @include paddingMargin($padding, $margin);
        @include style($neutral_lighter);
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
      }
      &__content {
        @include paddingMargin($padding, $margin);
        @include style($neutral_lighter);

        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
      }

      &__button {
        @include button($secondary_main, $neutral_lighter);
        @include hover($secondary_light, $neutral_lighter, $neutral_lighter);
      }
    }
  }
  .contact {
    @include flexBox(column, space-around, center);
    @include paddingMargin($padding, 0);
    @include style($primary_main);
    @include boxSize(width, 95vw, null, 95vw);
    // min-width: 95vw;
    // max-width: 95vw;

    &__row {
      @include flexBox(column, space-around, center);
      @include paddingMargin(0 15px);
      @include style($primary_main);
      @include boxSize(width, 80vw);
      // min-width: 80vw;
      text-align: center;
    }
    .box {
      @include flexBox(column, flex-start);
      @include paddingMargin($padding, 0);
      @include style($primary_main);
      @include boxSize(width, 80vw, null, 80vw);
      // min-width: 80vw;
      // max-width: 80vw;

      overflow: hidden;
      &__title {
        @include flexBox(column, space-around, center);
        @include paddingMargin($padding, 0 15px);
        @include style($primary_main);
        @include boxSize(width, 75vw);
        @include boxSize(height, 4rem);
        // min-width: 75vw;
        // min-height: 4rem;
        font-size: 20px;

        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      &__content {
        @include paddingMargin($padding, $margin);
        @include style($primary_main);
        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;

        &--title {
          @include flexBox(column, space-around, center);
          @include paddingMargin($padding, 0 15px);
          @include style($secondary_main);
          font-size: 16px;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
        }
      }

      &__button {
        @include button($secondary_main, $neutral_lighter);
        @include hover($secondary_light, $neutral_lighter, $neutral_lighter);
      }
      &__map {
        @include paddingMargin($padding);
        @include boxSize(width, null, 80vw);
        @include boxSize(height, null, 420px);
        // width: 80vw;
        // height: 420px;
      }
    }
  }
}
@media screen and (min-width: 376px) and (max-width: 600px) {
  .main {
    .solutions {
      .box {
        &__title {
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    .solutions {
      &__row {
        &--content {
          @include flexBox(row, flex-start);
          @include style($primary_main);
          // @include boxSize(width, 90vw, null, 90vw);
        }
        &--title {
          @include style($primary_main);
          // @include boxSize(width, 90vw, null, 90vw);
        }
      }
      .box {
        @include flexBox(column, flex-start, center);
        @include paddingMargin($padding, $margin);

        @include boxSize(width, null, null, 80vw);

        flex: 5;
        &--title {
          @include boxSize(width, 85vw, null, 85vw);
        }
        &--content {
          @include boxSize(height, 17rem, null, null);
          padding-top: 2rem;
        }
      }
    }
    .aside {
      &__box {
        @include boxSize(width, 85vw, null, 85vw);
        // min-width: 85vw;
        // max-width: 85vw;
      }
    }
    .contact {
      .box {
        @include flexBox(row, center, center);
        &--title {
          @include flexBox(column, flex-start, center);
        }
        &--map {
          @include boxSize(width, null, 85vw);
          @include boxSize(height, null, 600px);
          // width: 85vw;
          // height: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .main {
    .solutions {
      &__row {
        @include boxSize(width, 90, null, 90vw);
      }
      .box {
        @include boxSize(width, 80vw, null, 80vw);
        //   min-width: 80vw;
        //   max-width: 80vw;
      }
    }
    .aside {
      &__box {
        @include boxSize(width, 80vw, null, 80vw);
        // min-width: 80vw;
        // max-width: 80vw;
      }
    }
    .about {
      .box {
        &__title {
          font-size: 40px;
        }
      }
    }
    .contact {
      .box {
        @include flexBox(row, center, center);

        &--map {
          @include boxSize(width, null, 85vw);
          @include boxSize(height, null, 700px);
          // width: 85vw;
          // height: 700px;
        }
      }
    }
  }
}
