.main {
  @include flexBox(column, space-around, flex-start);
  @include paddingMargin($padding);
  @include style($primary_main, $neutral_light);
  font-size: $size_small;
  margin-top: $nav-height;
  gap: $gap;
  // min-height: fit-content;

  .whyBiit {
    @include flexBox(column, flex-start, flex-start);
    @include paddingMargin($padding, 0);
    @include style($primary_main);
    @include boxSize(width, 95vw, null, 95vw);
    @include boxSize(height, 95rem, null, 100rem);
    flex-direction: column;
    flex: 1;

    &__row {
      @include flexBox(column, flex-start, flex-start);
      @include paddingMargin(0 15px);
      @include style($primary_main);
      text-align: center;

      @include boxSize(width, 90vw, null, 90vw);
      @include boxSize(height, 95rem, null, 100rem);
    }

    .circle {
      @include flexBox(column, flex-start, flex-start);
      @include paddingMargin($padding, $margin);
      @include style(inherit, $neutral_main);
      @include boxSize(width, 20rem, null, 20rem);
      @include boxSize(height, 20rem);
      @include boxShadow($neutral_dark);
      border-radius: 50%;
      padding-top: 4rem;
      position: relative;

      &__title {
        @include flexBox(column, space-around, center);
        @include paddingMargin($padding, 0 15px);
        @include style($primary_main);
        @include boxSize(height, 4rem);
        font-size: 25px;
        line-height: 1.5;
        text-align: center;

        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
      }

      &__subtitle {
        @include style($secondary_main);
        line-height: 1.5;
        font-size: 1.5em;
        font-weight: bold;
      }

      &__content {
        @include flexBox(column, space-around, center);
        @include paddingMargin($padding, $margin);
        @include style($neutral_lighter);
        @include boxSize(width, null, null, 15rem);
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
      }

      @include hover($secondary_main, inherit, $neutral_darker, $neutral_dark);
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
      // @extend .circle;
      @include flexBox(column, flex-start, flex-start);
      @include boxSize(width, 250px, null, 275px);
      @include boxSize(height, 250px, null, 275px);
      position: relative;
      z-index: 2;
    }

    .first {
      left: -15vw;
      top: 5vh;
    }

    .second {
      left: 15vw;
      top: -5vh;
    }

    .third {
      left: -15vw;
      top: -15vh;
    }

    .fourth {
      left: 15vw;
      top: -25vh;
    }

    .fifth {
      left: -15vw;
      top: -35vh;
    }

    .lines {
      @include flexBox(column, flex-start, flex-start);
      @include style(inherit, transparent);
      @include boxSize(width, 100px, null, 150px);

      position: relative;
      z-index: 1;

      .lines-svg {
        position: relative;

        .dashed-line {
          stroke: $secondary_main;
          stroke-width: 9;
          stroke-dasharray: 5 5;
          animation: dash 15s linear infinite;
          position: relative;
          z-index: 1;
        }
      }

      @keyframes dash {
        to {
          stroke-dashoffset: -500;
        }
      }
    }

    .first-line {
      left: 0vw;
      top: 0vh;
    }

    .second-line {
      left: 0vw;
      top: -10vh;
    }

    .third-line {
      left: 0vw;
      top: -20vh;
    }

    .fourth-line {
      left: 0vw;
      top: -30vh;
    }

  }

  .modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($neutral_main, 0.5);
    justify-content: center;
    align-items: center;

    &__box {
      position: relative;
      background: $neutral_lighter;
      top: 10vh;
      left: 10vw;
      width: 80%;
      height: 80%;
      padding: 20px;
      border-radius: 5px;

      .circle {
        &__subtitle {
          @include style($secondary_main);
          line-height: 1.5;
          font-size: 1.5em;
          font-weight: bold;
          text-align: center;
        }

        &__content {
          @include flexBox(column, space-around, center);
          @include paddingMargin($padding, $margin);
          @include style($primary_main);
          // @include boxSize(width, null, null, 15rem);
          border-bottom-left-radius: 25%;
          border-bottom-right-radius: 25%;
          font-size: 1.2em;
          line-height: 1.5;
          text-transform: none;
          font-style: italic;
          font-weight: 400;
          text-align: center;
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        font-size: 50px;
        color: $danger_main;
        background-color: $danger_lighter;
        border: 1px solid $danger_main;
        cursor: pointer;
      }

      @include hover($neutral_lighter,
        inherit,
        $secondary_main,
        transparent);
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .main {
    .whyBiit {
      @include boxSize(height, 105rem, null, 110rem);

      &__row {
        @include boxSize(height, 105rem, null, 110rem);

        .lines {
          @include boxSize(width, 150px, null, 175px);
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    .whyBiit {
      @include boxSize(height, 140rem, null, 145rem);

      &__row {
        @include boxSize(height, 140rem, null, 145rem);

        .circle {
          &__title {
            font-size: 28px;
          }
        }

        .first,
        .second,
        .third,
        .fourth,
        .fifth {
          @include boxSize(width, 300px, null, 325px);
          @include boxSize(height, 300px, null, 325px);
        }

        .lines {
          @include boxSize(width, 200px, null, 250px);
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .main {
    .whyBiit {
      @include boxSize(height, 140rem, null, 145rem);

      &__row {
        @include flexBox(column, flex-start, center);
        @include boxSize(height, 140rem, null, 145rem);

        .circle {
          &__title {
            font-size: 28px;
          }
        }

        .first,
        .second,
        .third,
        .fourth,
        .fifth {
          @include boxSize(width, 300px, null, 325px);
          @include boxSize(height, 300px, null, 325px);
        }

        .first {
          left: -14rem;

        }

        .second {
          left: 14rem;

        }

        .third {
          left: -14rem;

        }

        .fourth {
          left: 14rem;

        }

        .fifth {
          left: -14rem;

        }

        .lines {
          @include boxSize(width, 200px, null, 250px);
        }
      }
    }
  }
}