@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  vertical-align: baseline;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

picture,
img,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: 400;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  hyphens: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

form,
input,
textarea,
button,
label {
  appearance: none;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  align-content: center;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  height: auto;
  font-size: 100%;
  line-height: 1.4em;
  appearance: none;
}

i.fas + span {
  padding-left: 0.5rem;
}

body,
html,
form,
input,
select {
  font-family: "Roboto Slab", sans-serif;
}

html {
  font-size: 100%;
  max-width: 100vw;
  background-color: #ececec;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
button {
  cursor: pointer;
}

::selection {
  background-color: #9d9d9c;
  color: #0065AE;
}

.navbar-nav-main {
  margin-top: 3.5rem;
}

/**
 * checkUnit Function
 *
 * This function checks if a value has one of the specified units: px, em, rem, or %.This function checks if a value has one of the specified units: px, em, rem, vw, vh or %.
 *
 * @param {any} $value - Value to check.
 * @return {boolean} - Returns true if it has a valid unit, otherwise, false.
 */
/**
 * boxSize Mixin
 *
 * This mixin allows setting the size properties of an element as well as its minimum and maximum properties.
 *
 * @param {string} $type - Size type ("width" or "height").
 * @param {string} $min - Minimum size (optional).
 * @param {string} $size - Main size (optional).
 * @param {string} $max - Maximum size (optional).
 */
.article, .plomesalmarContact .row .box__logo, .form, .auth .row .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  padding: 0.25rem;
  margin: 0.25rem;
  min-width: 85vw;
  max-width: 85vw;
  gap: 0.5rem;
  hyphens: auto;
  font-size: 0.9em;
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
}
.article p, .plomesalmarContact .row .box__logo p, .form p, .auth .row .form p {
  text-align: left;
}
.article p span, .plomesalmarContact .row .box__logo p span, .form p span, .auth .row .form p span {
  text-align: left;
}

.image, .home .row .box__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 50vw;
  max-width: 50vw;
  overflow: hidden;
}

.unorderedList {
  padding-left: 1rem;
  line-height: 1.5;
}
.unorderedList li {
  list-style-type: disc;
  line-height: 1.5;
  text-align: left;
}

.circle, .home .row .box__circle .circle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: #c2c2c2;
  border-radius: 50%;
  border: 1px solid transparent;
  border: 1px solid #8f8f8f;
}
.circle:hover, .home .row .box__circle .circle:hover {
  color: inherit;
  background-color: #9d9d9c;
  border: 1px solid #1f1f1f;
}
.circle__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.25rem;
  margin: 0.25rem;
  max-width: 15rem;
  background-color: transparent;
  border-radius: 25%;
  border: 1px solid transparent;
  font-size: 0.9em;
  font-style: italic;
}
.circle__title {
  font-size: 1.5em;
}

.title, .management .row .box__title, .plomesalmarContact .row .box__title, .home .row .box__title, .auth .row .box__title, .modal__management__big__box .body__title, .modal__box .body__title,
.modal__management__box .body__title {
  color: #0065AE;
  background-color: transparent;
  line-height: 1.8;
  font-size: 2em;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

.subtitle, .modal__management__big__box .body .form__group__value, .modal__management__big__box .body .form__group__content, .modal__box .body .form__group__content,
.modal__management__box .body .form__group__content {
  color: #0065AE;
  background-color: transparent;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
}

.secondary, .tableObservation .table__group__content, .tableObservation .table__group__title, .tableObservation__title, .card__title {
  color: #9d9d9c;
  background-color: transparent;
  margin-top: 0.5rem;
  line-height: 1.2;
  font-size: 1.2em;
  font-weight: lighter;
  align-self: flex-start;
}

.tertiary {
  margin-top: 0.25rem;
  line-height: 1.2;
  font-size: 0.9em;
  font-weight: light;
  align-self: flex-start;
}

.name, .home .row .box__name {
  color: #9d9d9c;
  background-color: transparent;
}

.content, .plomesalmarContact .row .form__group__consent__content, .plomesalmarContact .row .form__group__content, .home .row .box__content, .auth .row .form__group__consent__content, .auth .row .form__group__content {
  color: #0065AE;
  background-color: transparent;
  text-align: center;
  align-self: center;
  hyphens: auto;
}

.company {
  color: #9d9d9c;
  background-color: transparent;
}

.modalShadow, .auth, .modal__management__big, .modal,
.modal__management {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(194, 194, 194, 0.5);
  justify-content: center;
  align-items: center;
}

.modalBox, .auth .row {
  position: relative;
  background: #fafafa;
  top: 10vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 80vh;
  max-height: 80vh;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}
.modalBox:hover, .auth .row:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #9d9d9c;
}

.button, .form__button__back, .form__button__close, .form__button__success, .auth .row .form__group__button {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fafafa;
  background-color: #ee0000;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.button:hover, .form__button__back:hover, .form__button__close:hover, .form__button__success:hover, .auth .row .form__group__button:hover {
  color: #fafafa;
  background-color: #0079D0;
  border: 1px solid #00518C;
}

.form__button__success, .auth .row .form__group__button {
  background-color: #0065AE;
  color: #fafafa;
  border: 1px solid transparent;
}
.form__button__success:hover, .auth .row .form__group__button:hover {
  color: #fafafa;
  background-color: #0079D0;
  border: 1px solid #00518C;
}

.form__button__close {
  color: #fafafa;
  background-color: #ee0000;
  border: 1px solid transparent;
}
.form__button__close:hover {
  color: #fafafa;
  background-color: #ff6666;
  border: 1px solid #990000;
}

.form__button__back {
  color: #fafafa;
  background-color: #8f8f8f;
  border: 1px solid transparent;
}
.form__button__back:hover {
  color: #1f1f1f;
  background-color: #c2c2c2;
  border: 1px solid #8f8f8f;
}

.buttonTable, .buttonTable__success, .button__success, .buttonTable__close, .button__danger, .modal__management__big__box .close, .modal__box .close,
.modal__management__box .close {
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}

.buttonTable__close, .button__danger, .modal__management__big__box .close, .modal__box .close,
.modal__management__box .close {
  color: #ee0000;
  border-color: #ee0000;
}
.buttonTable__close:hover, .button__danger:hover, .modal__management__big__box .close:hover, .modal__box .close:hover,
.modal__management__box .close:hover {
  color: #ffffff;
  background-color: #ee0000;
  border-color: #ee0000;
}

.buttonTable__success, .button__success {
  color: #0065AE;
  border-color: #0065AE;
}
.buttonTable__success:hover, .button__success:hover {
  color: #ffffff;
  background-color: #0065AE;
  border-color: #0065AE;
}

.asideListTitle, .aside .leftBar .list__title {
  color: #0065AE;
  background-color: transparent;
  width: 11.5rem;
  margin: 0.25rem;
  margin-top: 0.5rem;
  align-self: flex-start;
  line-height: 1.2;
  font-size: 1.2em;
  font-weight: normal;
  border-bottom: 1px solid #1f1f1f;
  text-transform: uppercase;
  cursor: default;
}

.asideListItem, .aside .leftBar .list__item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  min-height: 2rem;
  min-width: 10rem;
  max-width: 12rem;
  padding: 0 0 0 0.5rem;
  margin: 0;
  align-self: flex-start;
  line-height: 1.2;
  font-size: 0.9em;
  font-weight: light;
  text-decoration: none;
  cursor: pointer;
}

.logo, .management .row .box__logo__image, .plomesalmarContact .row .box__logo__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 225px;
  max-width: 225px;
  min-height: 125px;
  max-height: 150px;
  background-color: #fafafa;
  padding: 0.25rem;
  margin: 1rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #0065AE;
  box-shadow: 2px 2px 4px #9d9d9c, -2px -2px 4px #aeaead;
  overflow: hidden;
}
.logo img, .management .row .box__logo__image img, .plomesalmarContact .row .box__logo__image img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-top: 1rem;
}

.formSelect, .tableObservation .table__group__select, .card .table td .row .select, .modal__management__big__box .body .form__group__select {
  padding: 0.75rem;
  margin: 0.25rem auto;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8f8f8f;
  border-radius: 0.25rem;
  font-size: 1.2em;
  position: relative;
  padding-right: 40px;
}
.formSelect:hover, .tableObservation .table__group__select:hover, .card .table td .row .select:hover, .modal__management__big__box .body .form__group__select:hover {
  color: inherit;
  background-color: #ffffff;
  border: 1px solid #0065AE;
}
.formSelect:focus, .tableObservation .table__group__select:focus, .card .table td .row .select:focus, .modal__management__big__box .body .form__group__select:focus {
  outline: none;
  color: #0065AE;
  background-color: #fafafa;
  box-shadow: 0 0 0 2px rgba(31, 31, 31, 0.1);
}
.formSelect option, .tableObservation .table__group__select option, .card .table td .row .select option, .modal__management__big__box .body .form__group__select option {
  color: #0065AE;
  background-color: #fafafa;
}

.formInput, .tableObservation .table__group__input, .plomesalmarContact .row .form__group__input, .auth .row .form__group__input, .modal__management__big__box .body .form__group__input, .modal__box .body .form__group__input,
.modal__management__box .body .form__group__input {
  padding: 0.75rem;
  margin: 0.25rem auto;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8f8f8f;
  border-radius: 0.25rem;
  font-size: 1.2em;
}
.formInput:hover, .tableObservation .table__group__input:hover, .plomesalmarContact .row .form__group__input:hover, .auth .row .form__group__input:hover, .modal__management__big__box .body .form__group__input:hover, .modal__box .body .form__group__input:hover,
.modal__management__box .body .form__group__input:hover {
  color: inherit;
  background-color: #ffffff;
  border: 1px solid #0065AE;
}

.consent, .plomesalmarContact .row .form__group__consent, .auth .row .form__group__consent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0.25rem auto;
}

.modal__box,
.modal__management__box {
  position: relative;
  top: 20vh;
  left: 2vw;
  min-width: 96vw;
  max-width: 96vw;
  min-height: 60vh;
  max-height: 60vh;
  background-color: #fafafa;
  border-radius: 0.25rem;
  border: 1px solid #0065AE;
}
.modal__box:hover,
.modal__management__box:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.modal__box .body,
.modal__management__box .body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  width: 100%;
  height: 100%;
}
.modal__box .body__title,
.modal__management__box .body__title {
  padding-top: 2rem;
}
.modal__box .body .form,
.modal__management__box .body .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.modal__box .body .form__group__input,
.modal__management__box .body .form__group__input {
  width: 80%;
}
.modal__box .body .form__group__buttons,
.modal__management__box .body .form__group__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}
.modal__box .close,
.modal__management__box .close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #ee0000;
  background-color: #ffeded;
  border: 1px solid #ee0000;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
.modal__box .close:hover,
.modal__management__box .close:hover {
  color: #ffeded;
  background-color: #ee0000;
  border: 1px solid #990000;
}

.danger .modal__management__box {
  border: 1px solid #ee0000;
}
.danger .modal__management__box:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #ee0000;
}
.danger .modal__management__box .body__title {
  color: #ee0000;
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .modal__management__box {
    top: 20vh;
    left: 10vw;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 60vh;
    max-height: 60vh;
  }
}
@media screen and (min-width: 601px) {
  .modal__management__box {
    top: 20vh;
    left: 20vw;
    min-width: 60vw;
    max-width: 60vw;
    min-height: 60vh;
    max-height: 60vh;
  }
}
.modal__management__big__box {
  position: relative;
  top: 5vh;
  left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 96vw;
  max-width: 96vw;
  min-height: 90vh;
  background-color: #fafafa;
  border-radius: 0.25rem;
  border: 1px solid #0065AE;
}
.modal__management__big__box:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.modal__management__big__box .body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  hyphens: auto;
  font-size: 0.9em;
  line-height: 1.5;
  text-align: center;
}
.modal__management__big__box .body p {
  text-align: left;
}
.modal__management__big__box .body p span {
  text-align: left;
}
.modal__management__big__box .body__title {
  padding-top: 2rem;
}
.modal__management__big__box .body .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  hyphens: auto;
  font-size: 0.9em;
  line-height: 1.5;
  text-align: center;
}
.modal__management__big__box .body .form p {
  text-align: left;
}
.modal__management__big__box .body .form p span {
  text-align: left;
}
.modal__management__big__box .body .form__group__input {
  width: 100%;
}
.modal__management__big__box .body .form__group__select {
  width: 100%;
}
.modal__management__big__box .body .form__group__value {
  font-weight: normal;
  width: 100%;
}
.modal__management__big__box .body .form__group__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #0065AE;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.25rem auto;
}
.modal__management__big__box .body .form__group__box .form__group__checkbox {
  display: flex;
  align-items: center;
  appearance: auto;
}
.modal__management__big__box .body .form__group__box .form__group__checkbox input {
  margin-right: 10px;
  appearance: auto;
}
.modal__management__big__box .body .form__group__box li {
  font-size: 1em;
  font-weight: normal;
  width: 80%;
  text-align: left;
}
.modal__management__big__box .body .form__group__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}
.modal__management__big__box .close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #ee0000;
  background-color: #ffeded;
  border: 1px solid #ee0000;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
.modal__management__big__box .close:hover {
  color: #ffeded;
  background-color: #ee0000;
  border: 1px solid #990000;
}

.danger .modal__management__big__box {
  border: 1px solid #ee0000;
}
.danger .modal__management__big__box:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #ee0000;
}
.danger .modal__management__big__box .body__title {
  color: #ee0000;
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .modal__management__big__box {
    top: 5vh;
    left: 5vw;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 90vh;
  }
}
@media screen and (min-width: 650px) {
  .modal__management__big__box {
    top: 10vh;
    left: 10vw;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh;
  }
  .modal__management__big__box .body .form__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .modal__management__big__box .body .form__group__content {
    text-align: right;
  }
  .modal__management__big__box .body .form__group__input, .modal__management__big__box .body .form__group__select {
    margin-left: 0.25rem;
    display: flex;
    justify-items: start;
    text-align: left;
    align-self: start;
  }
  .modal__management__big__box .body .form__group__box {
    margin-left: 0.25rem;
  }
  .modal__management__big__box .body .form__group__value {
    text-align: left;
  }
}
.card {
  min-width: 100%;
  max-width: 100%;
  color: inherit;
  background-color: #fafafa;
  border-radius: 0.25rem;
  border: 1px solid #0065AE;
  box-shadow: 2px 2px 4px #9d9d9c, -2px -2px 4px #aeaead;
  transition: 0.3s;
  margin: auto 0;
  padding: 1rem;
}
.card .table {
  width: 100%;
  border-collapse: collapse;
}
.card .table th,
.card .table td {
  border-bottom: 1px solid #c2c2c2;
  text-align: left;
}
.card .table th {
  padding: 0.75rem 0.5rem;
}
.card .table td {
  padding: 0.5rem;
}
.card .table td .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: space-between;
}
@media screen and (max-width: 768px) {
  .card .table td .row {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.card .table td .row .select {
  min-width: 10rem;
  max-width: 35%;
  margin-left: 0.25rem;
}
.card .table .iconsImage,
.card .table .icons {
  display: flex;
  gap: 5px;
  padding-bottom: 2rem;
}
@media screen and (min-width: 780px) {
  .card .table .icons {
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .card .table .iconsImage {
    padding-bottom: 0.5rem;
  }
}
.card .decoration {
  text-decoration: none;
  display: inline-block;
  color: #0065AE;
}
.card__title {
  color: #0065AE;
  background-color: transparent;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 5px;
  padding-bottom: 2rem;
}

.pagination__box {
  margin: 10px auto;
}
.pagination__box .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}
.pagination__box .pagination .page-item {
  margin: 0 4px;
}
.pagination__box .pagination .page-item .page-link {
  border: 1px solid #0065AE;
  color: #0065AE;
  background-color: #fafafa;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  border-radius: 0.25rem;
  text-decoration: none;
}
.pagination__box .pagination .page-item .page-link:hover {
  color: #fafafa;
  background-color: #0065AE;
  border: 1px solid #fafafa;
}
.pagination__box .pagination .page-item.disabled .page-link {
  color: #1f1f1f;
  background-color: #fafafa;
  border: 1px solid #8f8f8f;
  pointer-events: none;
  cursor: auto;
  opacity: 0.65;
}
.pagination__box .pagination .page-item.active .page-link {
  color: #fafafa;
  background-color: #0065AE;
  border: 1px solid #0065AE;
}

@media screen and (max-width: 850px) {
  .mq__remove1 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .mq__remove2 {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #0065AE;
  height: 3.5rem;
  max-height: 3.5rem;
  font-size: 1em;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  min-width: 99vw;
  max-width: 100vw;
  min-height: 3.5rem;
  max-height: 3.5rem;
}
.nav .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: #ffffff;
  min-width: 35vw;
  max-width: 35vw;
  min-height: 3.5rem;
  max-height: 3.5rem;
  flex: 3;
  overflow: hidden;
}
.nav .navbar__logo img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: #fafafa;
  min-width: 35vw;
  max-width: 35vw;
  min-height: 3.5rem;
  max-height: 3.5rem;
  overflow: hidden;
}
.nav .navbar__menu__home {
  padding: 0;
  margin: 178px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  flex: 6;
  transition: transform 1.5s;
  transform: translateY(-250%);
}
.nav .navbar__menu__home .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  color: #fafafa;
  background-color: #0065AE;
  min-width: 40vw;
  cursor: pointer;
}
.nav .navbar__menu__home .list__item {
  padding: 0.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 40vw;
  list-style: none;
  display: inline-flex;
}
.nav .navbar__menu__home .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0 0.25rem;
  min-width: 40vw;
  color: #fafafa;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}
.nav .navbar__menu__home .list__item:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 40vw;
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .navbar__menu__home .list__item .dropdown {
  position: relative;
}
.nav .navbar__menu__home .list__item .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  left: -0.25rem;
  display: none;
}
.nav .navbar__menu__home .list__item .dropdown__menu__item {
  padding: 0.25rem 0.75rem;
  margin: 0;
  color: #fafafa;
  background-color: #0065AE;
  text-decoration: none;
  min-width: 19rem;
  max-width: 19rem;
}
.nav .navbar__menu__home .list__item .dropdown__menu__item:hover {
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .navbar__menu__home .list__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.nav .navbar__auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}
.nav .navbar__auth .list {
  cursor: pointer;
}
.nav .navbar__auth .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #0065AE;
  min-width: 3rem;
  height: 3.5rem;
  letter-spacing: 0.25em;
  border: 1px solid transparent;
}
.nav .navbar__auth .list__item__link:hover {
  color: #fafafa;
  background-color: #9d9d9c;
  border: 1px solid transparent;
}
.nav .navbar__auth .list__item:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #9d9d9c;
  min-width: 3rem;
}
.nav .navbar__auth .list__item .dropdown {
  position: relative;
}
.nav .navbar__auth .list__item .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  right: -4rem;
  display: none;
}
.nav .navbar__auth .list__item .dropdown__menu__item {
  padding: 0.25rem 0.75rem;
  margin: 0;
  color: #fafafa;
  background-color: #0065AE;
  min-width: 12rem;
  max-width: 14rem;
  text-decoration: none;
}
.nav .navbar__auth .list__item .dropdown__menu__item:hover {
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .navbar__auth .list__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.nav .navbar__auth .list:hover {
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .navbar__language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}
.nav .navbar__language .list {
  cursor: pointer;
}
.nav .navbar__language .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #0065AE;
  background-color: #fafafa;
  min-width: 4.5rem;
  height: 3.5rem;
  letter-spacing: 0.25em;
  border: 1px solid transparent;
}
.nav .navbar__language .list__item__link:hover {
  color: #fafafa;
  background-color: #9d9d9c;
  border: 1px solid transparent;
}
.nav .navbar__language .list__item:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #9d9d9c;
  min-width: 4.5rem;
}
.nav .navbar__language .list__item .dropdown {
  position: relative;
}
.nav .navbar__language .list__item .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  right: -4rem;
  display: none;
}
.nav .navbar__language .list__item .dropdown__menu__item {
  padding: 0.25rem 0.75rem;
  margin: 0;
  color: #fafafa;
  background-color: #0065AE;
  min-width: 12rem;
  max-width: 14rem;
  text-decoration: none;
}
.nav .navbar__language .list__item .dropdown__menu__item:hover {
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .navbar__language .list__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.nav .navbar__language .list:hover {
  color: #fafafa;
  background-color: #9d9d9c;
}
.nav .toggle label i {
  width: 30px;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  font-size: xx-large;
  cursor: pointer;
}
.nav .toggle__checkbox {
  display: none;
}
.nav .toggle__checkbox:checked + .navbar .navbar__menu__home {
  transition: transform 0.5s;
  transform: translateY(0);
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav .navbar__logo {
    min-width: 35vw;
  }
  .nav .navbar__logo img {
    min-width: 15rem;
    max-width: 15rem;
  }
}
@media screen and (min-width: 1025px) {
  .nav {
    min-height: 3.5rem;
    max-height: 3.5rem;
  }
  .nav .toggle {
    display: none;
  }
  .nav .navbar {
    max-height: 3.5rem;
  }
  .nav .navbar__logo {
    min-width: 20vw;
    max-width: 20vw;
  }
  .nav .navbar__logo img {
    min-width: 15rem;
    max-width: 15rem;
  }
  .nav .navbar__menu__home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0;
    position: sticky;
    transform: translateY(0);
  }
  .nav .navbar__menu__home .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .nav .navbar__menu__home .list__item {
    padding: 0;
    margin: 0;
    min-width: 7rem;
    max-width: 9rem;
  }
  .nav .navbar__menu__home .list__item__link {
    min-width: 120px;
    height: 3.5rem;
  }
  .nav .navbar__menu__home .list__item:hover {
    min-width: 120px;
    max-height: 3.5rem;
  }
  .nav .navbar__menu__home .list__item .dropdown__menu {
    margin-top: 0;
  }
  .nav .navbar__auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-right: 1rem;
  }
  .nav .navbar__auth .list__item__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    color: #fafafa;
    background-color: #0065AE;
    min-width: 3rem;
    height: 3.5rem;
    letter-spacing: 0.25em;
    border: 1px solid transparent;
  }
  .nav .navbar__auth .list__item__link:hover {
    color: #fafafa;
    background-color: #9d9d9c;
    border: 1px solid transparent;
  }
  .nav .navbar__auth .list__item:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    color: #fafafa;
    background-color: #9d9d9c;
    min-width: 3rem;
  }
  .nav .navbar__auth .list__item .dropdown {
    position: relative;
  }
  .nav .navbar__auth .list__item .dropdown__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    right: -4rem;
    display: none;
  }
  .nav .navbar__auth .list__item .dropdown__menu__item {
    padding: 0.25rem 0.75rem;
    margin: 0;
    color: #fafafa;
    background-color: #0065AE;
    min-width: 12rem;
    max-width: 14rem;
    text-decoration: none;
  }
  .nav .navbar__auth .list__item .dropdown__menu__item:hover {
    color: #fafafa;
    background-color: #9d9d9c;
  }
  .nav .navbar__auth .list__item .dropdown:hover .dropdown__menu {
    display: flex;
  }
  .nav .navbar__auth .list:hover {
    color: #fafafa;
    background-color: #9d9d9c;
  }
  .nav .navbar__language {
    margin-right: 0;
  }
  .nav .navbar__language .list__item .dropdown__menu {
    right: 0rem;
  }
  .nav .navbar__language .list__item .dropdown__menu__item {
    min-width: 12rem;
    max-width: 14rem;
  }
}
.aside {
  grid-column: 1;
  padding: 0;
  margin: 0;
  border-right: 1px solid #0065AE;
  box-shadow: 3px 0px 6px 0px #8f8f8f;
  height: calc(100vh - 3.5rem);
  color: #0065AE;
  background-color: #ececec;
}
.aside .leftBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  align-self: center;
}
.aside .leftBar .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  padding: 0;
  margin: 0;
  align-self: flex-start;
}
.aside .leftBar .list__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0 0 0 1rem;
  margin: 0;
  align-self: flex-start;
  border: 1px solid transparent;
}
.aside .leftBar .list__item:hover {
  color: #ececec;
  background-color: #0065AE;
  border: 1px solid transparent;
}
.aside .leftBar .list__item__icon {
  min-width: 1rem;
  max-width: 1rem;
}
.input-group {
  display: flex;
  min-width: 70%;
  max-width: 70%;
  color: #fafafa;
  background-color: #0065AE;
  border-radius: 0.25rem;
  border: 1px solid #0065AE;
  box-shadow: 1px 1px 2px #9d9d9c, -1px -1px 2px #aeaead;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}
.input-group-text {
  padding: 0.375rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group .form-control {
  flex: 1;
  padding: 0.2rem 0.75rem;
  border: 1px solid #0065AE;
  color: #0065AE;
  border-radius: 0.25rem;
  background-color: #fafafa;
}

.custom-alert {
  position: fixed;
  top: 10%;
  right: 10%;
  min-width: 300px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 300ms ease-in-out, top 0.4s ease-in-out;
  z-index: 1050;
  background-color: #fff;
}
.custom-alert::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
}
.custom-alert.success {
  color: #4CAF50;
}
.custom-alert.success::before {
  content: "\f058";
  font-weight: 900;
  color: #4CAF50;
}
.custom-alert.success .timer-bar {
  background-color: #4CAF50;
}
.custom-alert.error {
  color: #D32F2F;
}
.custom-alert.error::before {
  content: "\f06a";
  font-weight: 900;
  color: #D32F2F;
}
.custom-alert.error .timer-bar {
  background-color: #D32F2F;
}
.custom-alert p {
  margin: 0;
  flex: 1;
  padding: 10px;
}
.custom-alert .timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  animation: reduceWidth 15s linear forwards;
}
@keyframes reduceWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.auth {
  display: block;
}
.auth .row {
  top: 15vh;
  left: 15vw;
  min-width: 70vw;
  max-width: 70vw;
  min-height: 70vh;
  max-height: 70vh;
  border: 1px solid transparent;
}
.auth .row:hover {
  color: inherit;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.auth .row .box__title {
  margin-bottom: 2rem;
}
.auth .row .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 65vw;
  max-width: 65vw;
}
.auth .row .form__group__input {
  min-width: 35vw;
  max-width: 35vw;
  border: 1px solid #8f8f8f;
}
.auth .row .form__group__input:hover {
  color: #0079D0;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.auth .row .form__group__button {
  margin: 0.5rem auto;
}
.auth .row .form__group__consent {
  gap: 0.5rem;
}
.auth .row .form__group__consent__check {
  appearance: checkbox;
  width: 1rem;
  height: 1rem;
}
.auth .row .form__group__consent__content {
  hyphens: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  color: #0065AE;
  background-color: #ececec;
  font-size: 1em;
  margin-top: 3.5rem;
  gap: 0.5rem;
}
.home .row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 95vw;
  max-width: 95vw;
  padding: 5rem 0.25rem 2rem 0.25rem;
  margin: 0.25rem;
}
.home .row .box__content--reverse {
  color: #9d9d9c;
  background-color: transparent;
}
.home .row .box__name--reverse {
  color: #0065AE;
  background-color: transparent;
}
.home .row .box__image {
  overflow: hidden;
}
.home .row .box__map {
  width: 85vw;
  height: 420px;
}
.home .row .box__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
}
.home .row .box__circle .circle {
  padding-top: 2rem;
}
.home .row .box__circle .circle__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 50%;
  border: 1px solid transparent;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  max-height: 5rem;
}
.home .row .box__circle .circle__icon img {
  max-width: 50px;
  max-height: 50px;
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .home .row .box__circle .circle {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
  }
  .home .row .box__circle .circle__content {
    padding-top: 2rem;
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .home .row .box__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .home .row .box__button {
    padding: 0.75rem;
    margin: 0.5rem;
  }
  .home .row .box__circle .circle {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
  }
  .home .row .box__circle .circle__content {
    padding-top: 2rem;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1025px) {
  .home .row .box__title {
    font-size: 2.2em;
  }
  .home .row .box__button {
    padding: 0.75rem;
    margin: 0.5rem;
  }
  .home .row .box__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .home .row .box__circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 5rem;
  }
  .home .row .box__circle .circle {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
  }
  .home .row .box__circle .circle__content {
    padding-top: 2rem;
    font-size: 1.2em;
  }
}
.plomesalmarContact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  color: #0065AE;
  background-color: #ececec;
  font-size: 1em;
  margin-top: 3.5rem;
  gap: 0.5rem;
}
.plomesalmarContact .row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 5rem 0.25rem 2rem 0.25rem;
  margin: 0.25rem;
}
.plomesalmarContact .row .box__logo__image a img {
  min-height: 3.5rem;
}
.plomesalmarContact .row .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
}
.plomesalmarContact .row .form__group__consent {
  gap: 0.5rem;
}
.plomesalmarContact .row .form__group__consent__check {
  appearance: checkbox;
  width: 1rem;
  height: 1rem;
}
.plomesalmarContact .row .form__group__consent__content {
  hyphens: none;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .plomesalmarContact .row .form__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
  }
  .plomesalmarContact .row .form__group__content {
    min-width: 20vw;
    max-width: 20vw;
    text-align: right;
  }
  .plomesalmarContact .row .form__group__input {
    padding: 1rem;
    margin: 0.25rem;
    min-width: 30vw;
    max-width: 30vw;
  }
  .plomesalmarContact .row .form__group__button {
    margin: 0.25rem auto;
  }
}
@media screen and (min-width: 1025px) {
  .plomesalmarContact .row .box__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
  }
  .plomesalmarContact .row .form__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
  }
  .plomesalmarContact .row .form__group__content {
    min-width: 20vw;
    max-width: 20vw;
    text-align: right;
  }
  .plomesalmarContact .row .form__group__input {
    padding: 1rem;
    margin: 0.25rem;
    min-width: 25rem;
    max-width: 25rem;
  }
  .plomesalmarContact .row .form__group__button {
    margin: 0.25rem auto;
  }
}
.management {
  display: grid;
  grid-template-columns: 12rem 1fr;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: stretch;
  color: #0065AE;
  background-color: #ececec;
  padding: 3.5rem 0 0 0;
  margin: 0;
  gap: 0;
}
.management .row {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0;
  width: 95%;
  margin: 0 auto;
}
.management .row .box__title {
  margin-bottom: 0.5rem;
}
.management .row .box__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 0.5rem;
}
.management .row .box__search .form__button__success, .management .auth .row .box__search .form__group__button, .auth .management .row .box__search .form__group__button {
  margin: 0;
}
.management .row .box__back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 0.5rem;
}
.management .row .box__back .form__button__back {
  margin: 0;
}
.management .row .box__next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 0.5rem;
}
.management .row .box__next .form__button__success, .management .auth .row .box__next .form__group__button, .auth .management .row .box__next .form__group__button {
  margin: 0;
}
.management .row .box__table {
  display: grid;
  row-gap: 0;
  width: 100%;
  margin: 0 auto;
}
.management .row .box__logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 10px;
  max-height: 50%;
}
.management .row .box__logo__image {
  margin: 0.5rem auto;
}
.management .row .box__logo__image a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
}
.management .row .box__logo__image a img {
  min-height: 3.5rem;
}
.management .row .box__logo__image i {
  font-size: xx-large;
}
.management .row .box__logo__image:hover {
  border: 1px solid transparent;
}
.management .row .box__logo__image:hover:hover {
  color: #c2c2c2;
  background-color: #0065AE;
  border: 1px solid #c2c2c2;
}

.tableObservation {
  width: 100%;
  border-collapse: collapse;
}
.tableObservation__title {
  color: #0065AE;
  background-color: transparent;
  font-weight: bold;
}
.tableObservation .table__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  align-self: center;
  margin-left: 0;
}
.tableObservation .table__group__content, .tableObservation .table__group__title {
  color: #0065AE;
  background-color: transparent;
  font-weight: bold;
}
.tableObservation .table__group__input {
  min-width: 19rem;
  max-width: 35%;
  margin-left: 0;
  border: 1px solid #8f8f8f;
}
.tableObservation .table__group__input:hover {
  color: #0079D0;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.tableObservation .table__group__select {
  min-width: 19rem;
  max-width: 35%;
  margin-left: 0;
}
.tableObservation .table__group__consent {
  align-self: flex-start;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.tableObservation .table__group__check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  align-self: center;
  appearance: checkbox;
  width: 1rem;
  height: 1rem;
  margin-top: 0.5rem;
}
.tableObservation .table__group__textarea {
  border: 1px solid #0065AE;
  border-radius: 0.25rem;
  min-width: 19rem;
  max-width: 35%;
  margin-left: 0;
  border: 1px solid #8f8f8f;
}
.tableObservation .table__group__textarea:hover {
  color: #0079D0;
  background-color: #fafafa;
  border: 1px solid #0065AE;
}
.tableObservation .table__group__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #0065AE;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.25rem auto;
}
.tableObservation .table__group__box .form__group__checkbox {
  display: flex;
  align-items: center;
  appearance: auto;
}
.tableObservation .table__group__box .form__group__checkbox input {
  margin-right: 10px;
  appearance: auto;
}
.tableObservation .table__group__box li {
  font-size: 1em;
  font-weight: normal;
  width: 80%;
  text-align: left;
}
.tableObservation .table__group__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

@media screen and (min-width: 850px) {
  .tableObservation .table__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tableObservation .table__group__content {
    min-width: 40%;
    text-align: right;
    margin: auto 0;
    padding: 12px 0;
  }
  .tableObservation .table__group__input {
    align-self: flex-start;
  }
  .tableObservation .table__group__check {
    margin-top: 0;
  }
  .tableObservation .table__group__value {
    padding: 12px 0;
  }
  .tableObservation .table__group__title {
    text-align: center;
  }
}
#multiGraphContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #0065AE;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

#chartData {
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #0065AE;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#chartData canvas {
  width: 100% !important;
  height: 400px !important;
}

.chartjs-render-monitor {
  font-family: "Roboto Slab", sans-serif;
  color: #0065AE;
}

.chart-container {
  flex: 1 1 45%;
  max-width: 45%;
  background-color: #ffffff;
  border: 1px solid #0065AE;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chart-container canvas {
  width: 100% !important;
  height: 400px !important;
}

.chartjs-render-monitor {
  font-family: "Roboto Slab", sans-serif;
  color: #0065AE;
}

#donutGraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #0065AE;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

#donutGraphContainer canvas {
  width: 100% !important;
  height: 500px !important;
}

.chartjs-render-monitor {
  font-family: "Roboto Slab", sans-serif;
  color: #0065AE;
}

/*# sourceMappingURL=app.css.map */
