$primary-color: #007bff;
$primary-color-dark: #023264;
$base: #fbfbfb;

html {
  background-color: $base;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $primary-color;
}

p {
  font-size: 16px;
  color: $primary-color-dark;
}

button {
  background-color: $primary-color-dark;
  color: $base;
  padding: 10px;
  border: 1px solid $primary-color;
  cursor: pointer;
  :hover {
    background-color: $primary-color;
    color: #fbfbfb;
    padding: 10px;
    border: 1px solid $primary-color-dark;
  }
}
