// Footer style
.footer {
  @include mainBox(column, center, center);
  @include style($neutral_lighter, $primary_main);


  .row {
    @extend .section;

    .box {
      @extend .article;
      @include mainBox(column, center, center);
      @include boxSize(height, 80px, null, 80px);

      &__row {
        @extend .article;
        @include mainBox(column, center, center);
      }

      &__image {
        @extend .image;

        @include boxSize(width, 50vw, null, 50vw);
      }

      .icon {
        @include mainBox(row, space-around, center);

        @include boxSize(width, 70vw, null, 70vw);

        &__item {
          @include paddingMargin($padding);
          list-style: none;
          display: inline-flex;

          &__link {
            @include mainBox(row, center, center);
            @include paddingMargin($padding, 0 $margin);
            @include boxSize(width, 50px);
            @include boxSize(height, 50px);
            // border: 1px solid transparent;
            text-decoration: none;
            text-align: center;

            @include boxShadow(null, 50%);
            @include hover($secondary_main, inherit, $neutral_lighter);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .footer {
    .row {
      @include mainBox(column, space-around, center);

      .box {
        .list {
          @include mainBox(row);
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer {
    .row {
      .box {
        &__row {
          @include mainBox(row, space-around, center);
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    @include mainBox(row, space-around, flex-start);

    .row {
      @include boxSize(width, 45vw, null, 45vw);

      .box {
        @include boxSize(width, 45vw, null, 45vw);

        &__row {
          @include mainBox(row, space-around, center);
          @include boxSize(width, 45vw, null, 45vw);
        }
      }
    }
  }
}