// Footer style
.footer {
  @include flexBox(column, center, center);
  @include paddingMargin(1rem 0 0 0);
  @include style($neutral_lighter, $primary_main);


  .row {
    @extend .section;


    .box {
      @extend .article;


      text-align: center;

      &__logo {
        @include boxSize(width, 50vw, null, 50vw);
      }

      &__row {
        @extend .article;
        @include flexBox(row, center, center);
      }

      // Here-> Pending style with extend
      &__icon {

        &__item {
          @include paddingMargin($padding);
          list-style: none;
          display: inline-flex;

          &__link {
            @include flexBox(row, center, center);
            @include paddingMargin($padding, 0 $margin);
            @include boxSize(width, 50px);
            @include boxSize(height, 50px);
            border: 1px solid transparent;
            text-decoration: none;
            text-align: center;

            @include boxShadow(null, 50%);
            @include hover($secondary_main, inherit, $neutral_lighter);
          }
        }
      }

      // .list {
      //   @include flexBox(column);
      //   cursor: pointer;

      //   &__item {
      //     // @include paddingMargin($padding);
      //     list-style: none;
      //     display: inline-flex;

      //     &__link {
      //       @include paddingMargin($padding);
      //       @include boxSize(height, 50px);
      //     }
      //   }
      // }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  // .footer {
  //   .row {
  //     @include flexBox(column, space-around, center);

  //     .box {
  //       .list {
  //         @include flexBox(row);
  //       }
  //     }
  //   }
  // }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  // .footer {
  //   .row {
  //     @include flexBox(column, space-around, center);

  //     .box {
  //       .list {
  //         @include flexBox(row);
  //       }
  //     }
  //   }
  // }
}

@media screen and (min-width: 1025px) {
  // .footer {
  //   @include flexBox(row, space-around, flex-end);
  //   min-height: 255px;

  //   .row {
  //     @include flexBox(column, space-around, center);

  //     .box {
  //       @include paddingMargin($padding);

  //       .list {
  //         @include flexBox(row, space-around, flex-end);
  //       }
  //     }
  //   }
  // }
}