// Navbar style
.nav {
  @include flexBox(row, space-between, center);
  @include style($neutral_lighter, $primary_main);
  max-width: 100vw;
  height: $nav-height;
  font-size: $size_small;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .navbar {
    @include flexBox(row, space-around, center);
    @include paddingMargin;
    min-width: 100vw;

    &__logo {
      @include flexBox(row, flex-start, center);
      @include paddingMargin($padding, $margin);
      flex: 3;
      // min-height: 10vh;
    }

    &__menu {
      @include flexBox(row, center, center);
      @include paddingMargin;

      flex: 7;
      margin-top: 150px;

      .list {
        @include flexBox(column);
        @include style($neutral_lighter, $primary_main);
        cursor: pointer;
        margin-top: calc($margin * 2);
        // Revisar mida de la caixa per el hover
        // Revisar
        // a
        min-width: 40vw;
        // b
        // min-width: 16rem;
        // max-width: 18rem;

        transition: transform 1.5s;
        transform: translateY(-120%);

        &__item {
          @include paddingMargin($padding);
          // Mida del element de la llista????
          // min-width: 40vw;
          //
          list-style: none;
          display: inline-flex;

          &__link {
            @include flexBox(row, center, center);
            @include paddingMargin(0, 0 $margin);
            @include style($neutral_lighter);

            // min-width: 120px;
            text-decoration: none;
            text-align: center;
          }

          &:hover {
            @include flexBox(column, center, center);
            @include style($neutral_lighter, $secondary_main);
            // Revisar
            // a
            min-width: 40vw;
            // b
            // min-width: 16rem;
            // max-width: 18rem;
          }

          .dropdown {
            position: relative;
            // Aqui???
            // min-width: 40vw;
            // max-width: 40vw;

            &__menu {
              @include flexBox(column, center, center);
              position: absolute;
              // top: 100%;
              // margin-top: $margin;
              // top: 1.8rem;
              left: -3rem;
              display: none;

              &__item {
                @include paddingMargin($padding calc($padding * 3));
                @include style($neutral_lighter, $primary_main);
                text-decoration: none;

                min-width: 16rem;
                max-width: 18rem;

                &:hover {
                  @include style($neutral_lighter, $secondary_main);
                }
              }
            }

            &:hover .dropdown__menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  .toggle {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;

    &__checkbox {
      display: none;

      &:checked + .navbar {
        .navbar__menu {
          .list {
            transition: transform 0.5s;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    &__logo {
      min-width: 30vw;
    }
  }
}

@media screen and (min-width: 1025px) {
  .nav {
    height: $nav-height;

    .toggle {
      display: none;
    }
    .navbar {
      max-height: $nav-height;

      &__menu {
        @include flexBox(row, flex-end, center);
        margin-top: 0;

        .list {
          @include flexBox(row);
          margin-top: 0;
          transform: translateY(0);

          &__item {
            @include paddingMargin;
            // min-width: 120px;
            // max-width: 150px;
            min-width: 7rem;
            max-width: 9rem;

            &__link {
              height: $nav-height;
              min-width: 120px;
            }

            &:hover {
              max-height: $nav-height;
              min-width: 120px;
            }

            .dropdown {
              &__menu {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
