// Estilos para la barra de navegación
.navbar {
  @include flexBox(row, space-between, center);

  @include style($neutral_lighter, $primary_main);
  max-width: 100vw;
  height: $nav-height;
  font-size: $size_small;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    @include flexBox(row, space-around, center);
    @include paddingMargin;
    min-width: 100vw;

    .navbar__logo {
      @include flexBox(row, flex-start, center);
      @include paddingMargin($padding, $margin);
      flex: 3;
    }

    .navbar__menu {
      @include flexBox(row, center, center);
      @include paddingMargin;

      flex: 7;
      margin-top: 150px;
      // margin-top: $nav-height;

      .navbar__list {
        @include flexBox(column);
        @include style($neutral_lighter, $primary_main);
        cursor: pointer;
        min-width: 40vw;

        transition: transform 1.5s;
        transform: translateY(-120%);

        .navbar__item {
          @include paddingMargin($padding);

          list-style: none;
          display: inline-flex;

          .navbar__link {
            @include flexBox(row, center, center);
            @include paddingMargin(0, 0 $margin);
            @include style($neutral_lighter);

            // min-width: 120px;
            text-decoration: none;
          }

          &:hover {
            @include flexBox(column, center, center);
            @include style($neutral_lighter, $secondary_main);
            min-width: 40vw;
          }

          .dropdown {
            position: relative;

            .navbar__link--dropdown-toggle {
              @include paddingMargin($padding, 0 $margin);
              text-decoration: none;
            }

            .dropdown__menu {
              @include flexBox(column, center, center);
              position: absolute;
              top: 100%;
              left: 0;
              display: none;

              .dropdown__item {
                // @include paddingMargin(calc($padding * 2));
                @include paddingMargin($padding);
                @include style($neutral_lighter, $primary_main);
                text-decoration: none;

                &:hover {
                  @include style($neutral_lighter, $secondary_main);
                }
              }
            }

            &:hover .dropdown__menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  .toggle-menu {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }

  .toggle-menu__checkbox {
    display: none;

    &:checked + .container {
      // @include style($neutral_lighter, $primary_light);

      .navbar__menu {
        .navbar__list {
          transition: transform 0.5s;
          transform: translateY(0);
        }
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
  .navbar {
    height: $nav-height;

    .toggle-menu {
      display: none;
    }
    .container {
      max-height: $nav-height;

      .navbar__menu {
        @include flexBox(row, flex-end, center);
        margin-top: 0;

        .navbar__list {
          @include flexBox(row);
          transform: translateY(0);

          .navbar__item {
            @include paddingMargin;

            .navbar__link {
              height: $nav-height;
              min-width: 120px;
            }

            &:hover {
              max-height: $nav-height;
              min-width: 120px;
            }
          }
        }
      }
    }
  }
}
