@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

::selection {
  background-color: #0097b2;
  color: #17265c;
}

body,
html,
form,
input,
select {
  font-family: "Bruno Ace", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

html {
  font-size: 62.5%; /* 1rem -> 10px*/
}

body {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
button {
  cursor: pointer;
}

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fafafa;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
  min-height: 70px;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100vw;
}
.navbar .container .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 3;
}
.navbar .container .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  flex: 7;
}
.navbar .container .navbar__menu .navbar__list .navbar__item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0 0.5rem;
  color: #fafafa;
  background-color: transparent;
  max-height: 70px;
  height: 70px;
  min-width: 120px;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown {
  position: relative;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .navbar__link--dropdown-toggle {
  padding: 0;
  margin: 0 0.5rem;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu .dropdown__item {
  padding: 0.5rem;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu .dropdown__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown:hover .dropdown__menu {
  display: flex;
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 48px;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    height: 36px;
  }
}

.container-services {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  margin: 0 auto;
  width: 100%;
}
.container-services .row {
  margin: 0 -15px;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding: 20x 15px;
}
.container-services .row .section-heading {
  font-size: 40px;
  margin: 0 0 15px;
}
.container-services .row .section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 32px;
  color: #777;
}
.container-services .row-1,
.container-services .row-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}
.container-services .row-1 .service-heading,
.container-services .row-2 .service-heading {
  margin: 15px 0;
  text-transform: none;
}
.container-services .row-1-service,
.container-services .row-2-service {
  flex: 3.33;
}
.container-services .row-2-service {
  flex: 5;
}

/*# sourceMappingURL=app.css.map */
