@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
body,
html,
form,
input,
select {
  font-family: "Bruno Ace", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

* {
  box-sizing: border-box;
  vertical-align: baseline;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

picture,
img,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Bruno Ace", sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #0097b2;
  color: #17265c;
}

html {
  font-size: 62.5%; /* 1rem -> 10px*/
}

body {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
button {
  cursor: pointer;
}

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fafafa;
}

header .intro-text {
  padding-top: 200px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #17265c;
  height: 70px;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  min-width: 100vw;
}
.navbar .container .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 3;
}
.navbar .container .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  flex: 7;
  margin-top: 90px;
  margin-top: 70px;
}
.navbar .container .navbar__menu .navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #17265c;
  cursor: pointer;
  transition: transform 1.5s;
  transform: translateY(-120%);
}
.navbar .container .navbar__menu .navbar__list .navbar__item {
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0 0.5rem;
  color: #fafafa;
  background-color: transparent;
  min-width: 120px;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown {
  position: relative;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .navbar__link--dropdown-toggle {
  padding: 0.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu .dropdown__item {
  padding: 0.5rem;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
  text-decoration: none;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown .dropdown__menu .dropdown__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.navbar .container .navbar__menu .navbar__list .navbar__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.navbar .toggle-menu {
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.navbar .toggle-menu__checkbox {
  display: none;
}
.navbar .toggle-menu__checkbox:checked + .container {
  color: #fafafa;
  background-color: #17265c;
}
.navbar .toggle-menu__checkbox:checked + .container .navbar__menu .navbar__list {
  transition: transform 0.5s;
  transform: translateY(0);
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    height: 70px;
  }
  .navbar .toggle-menu {
    display: none;
  }
  .navbar .container .navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0;
  }
  .navbar .container .navbar__menu .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    transform: translateY(0);
  }
  .navbar .container .navbar__menu .navbar__list .navbar__item {
    padding: 0;
    margin: 0;
  }
  .navbar .container .navbar__menu .navbar__list .navbar__item .navbar__link {
    height: 48px;
  }
}
.container-services {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  margin: 0 auto;
  width: 100%;
}
.container-services .row {
  margin: 0 -15px;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding: 20x 15px;
}
.container-services .row .section-heading {
  font-size: 40px;
  margin: 0 0 15px;
}
.container-services .row .section-subheading {
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 32px;
  color: #777;
}
.container-services .row-1,
.container-services .row-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}
.container-services .row-1 .service-heading,
.container-services .row-2 .service-heading {
  margin: 15px 0;
  text-transform: none;
}
.container-services .row-1-service,
.container-services .row-2-service {
  flex: 3.33;
}
.container-services .row-2-service {
  flex: 5;
}

/*# sourceMappingURL=app.css.map */
