@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
body,
html,
form,
input,
select {
  font-family: "Bruno Ace", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

* {
  box-sizing: border-box;
  vertical-align: baseline;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

picture,
img,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Bruno Ace", sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #0097b2;
  color: #17265c;
}

html {
  font-size: 100%;
  max-width: 100vw;
}

body {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
button {
  cursor: pointer;
}

/** 
* Must be the last line in all call to this mixin!
*/
/**
 * checkUnit Function
 *
 * This function checks if a value has one of the specified units: px, em, rem, or %.This function checks if a value has one of the specified units: px, em, rem, vw, vh or %.
 *
 * @param {any} $value - Value to check.
 * @return {boolean} - Returns true if it has a valid unit, otherwise, false.
 */
/**
 * boxSize Mixin
 *
 * This mixin allows setting the size properties of an element as well as its minimum and maximum properties.
 *
 * @param {string} $type - Size type ("width" or "height").
 * @param {string} $min - Minimum size (optional).
 * @param {string} $size - Main size (optional).
 * @param {string} $max - Maximum size (optional).
 */
header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #17265c;
}

header .intro-text {
  padding-top: 200px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #17265c;
  max-width: 100vw;
  height: 70px;
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  min-width: 100vw;
}
.nav .navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 3;
  min-width: 30vw;
}
.nav .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 208px 0 0 0;
  position: absolute;
  z-index: 1;
  flex: 6;
}
.nav .navbar__menu .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 1rem 0 0 0;
  color: #fafafa;
  background-color: #17265c;
  min-width: 40vw;
  cursor: pointer;
  transition: transform 1.5s;
  transform: translateY(-200%);
}
.nav .navbar__menu .list__item {
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.nav .navbar__menu .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0 0.5rem;
  color: #fafafa;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}
.nav .navbar__menu .list__item:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 40vw;
  color: #fafafa;
  background-color: #0097b2;
}
.nav .navbar__menu .list__item .dropdown {
  position: relative;
}
.nav .navbar__menu .list__item .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  left: -3rem;
  display: none;
}
.nav .navbar__menu .list__item .dropdown__menu__item {
  padding: 0.5rem 1.5rem;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
  text-decoration: none;
  min-width: 16rem;
  max-width: 18rem;
}
.nav .navbar__menu .list__item .dropdown__menu__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.nav .navbar__menu .list__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.nav .navbar__language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-right: 60px;
  flex: 1;
}
.nav .navbar__language .list {
  cursor: pointer;
}
.nav .navbar__language .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #17265c;
  background-color: #fafafa;
  min-width: 6rem;
  height: 70px;
}
.nav .navbar__language .list__item__link:hover {
  color: #fafafa;
  background-color: #0097b2;
  border: 1px solid transparent;
}
.nav .navbar__language .list__item:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #0097b2;
  min-width: 6rem;
}
.nav .navbar__language .list__item .dropdown {
  position: relative;
}
.nav .navbar__language .list__item .dropdown__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  display: none;
}
.nav .navbar__language .list__item .dropdown__menu__item {
  padding: 0.5rem 1.5rem;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
  min-width: 16rem;
  max-width: 18rem;
  text-decoration: none;
}
.nav .navbar__language .list__item .dropdown__menu__item:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.nav .navbar__language .list__item .dropdown:hover .dropdown__menu {
  display: flex;
}
.nav .navbar__language .list:hover {
  color: #fafafa;
  background-color: #0097b2;
}
.nav .toggle {
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.nav .toggle__checkbox {
  display: none;
}
.nav .toggle__checkbox:checked + .navbar .navbar__menu .list {
  transition: transform 0.5s;
  transform: translateY(0);
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar__logo {
    min-width: 30vw;
  }
}
@media screen and (min-width: 1025px) {
  .nav {
    height: 70px;
  }
  .nav .toggle {
    display: none;
  }
  .nav .navbar {
    max-height: 70px;
  }
  .nav .navbar__logo {
    min-width: 20vw;
    max-width: 20vw;
  }
  .nav .navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0;
    position: sticky;
  }
  .nav .navbar__menu .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0;
    transform: translateY(0);
  }
  .nav .navbar__menu .list__item {
    padding: 0;
    margin: 0;
    min-width: 7rem;
    max-width: 9rem;
  }
  .nav .navbar__menu .list__item__link {
    min-width: 120px;
    height: 70px;
  }
  .nav .navbar__menu .list__item:hover {
    min-width: 120px;
    max-height: 70px;
  }
  .nav .navbar__menu .list__item .dropdown__menu {
    margin-top: 0;
  }
  .nav .navbar__language {
    margin-right: 0;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 1rem 0 0 0;
  margin: 0;
  color: #fafafa;
  background-color: #17265c;
}
.footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
}
.footer .logo__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
  max-width: 90vw;
}
.footer .logo__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fafafa;
  background-color: transparent;
  text-align: center;
}
.footer .contact .social .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
.footer .contact .social .list__item {
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.footer .contact .social .list__item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #8f8f8f;
  box-shadow: 3px 3px 6px #c2c2c2, -3px -3px 6px #ececec;
}
.footer .contact .social .list__item__link:hover {
  color: inherit;
  background-color: #0097b2;
  border: 1px solid #fafafa;
}
.footer .contact .policy .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
.footer .contact .policy .list__item {
  list-style: none;
  display: inline-flex;
}
.footer .contact .policy .list__item__link {
  padding: 0.5rem;
  margin: 0;
  min-height: 50px;
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .footer .contact .policy .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .footer .contact .policy .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .footer .contact .policy {
    padding: 0.5rem;
    margin: 0;
  }
  .footer .contact .policy .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: flex-end;
    align-self: center;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
  color: #17265c;
  background-color: #ececec;
  font-size: 1em;
  margin-top: 70px;
  gap: 0.5rem;
}
.main .solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
  color: #17265c;
  background-color: transparent;
  min-width: 95vw;
  max-width: 95vw;
}
.main .solutions__row, .main .solutions__row--content, .main .solutions__row--title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0 15px;
  margin: 0;
  color: #17265c;
  background-color: transparent;
  text-align: center;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 8rem;
}
.main .solutions__row--title {
  color: inherit;
  background-color: transparent;
}
.main .solutions__row--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: transparent;
}
.main .solutions .box, .main .solutions .box--content, .main .solutions .box--title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #17265c;
  background-color: transparent;
  max-width: 80vw;
  min-height: 10rem;
  gap: 0.5rem;
}
.main .solutions .box--content {
  color: #17265c;
  background-color: #c2c2c2;
  border-radius: 0;
  border: 1px solid #8f8f8f;
  box-shadow: 3px 3px 6px #c2c2c2, -3px -3px 6px #ececec;
  padding-top: 2rem;
}
.main .solutions .box--content:hover {
  color: inherit;
  background-color: #0097b2;
  border: 1px solid #1f1f1f;
}
.main .solutions .box__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  color: #fafafa;
  background-color: #17265c;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
.main .solutions .box__icon i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
}
.main .solutions .box__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0 15px;
  color: #17265c;
  background-color: transparent;
  min-height: 4rem;
  font-size: 35px;
  line-height: 1.5;
}
.main .solutions .box__content {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #17265c;
  background-color: transparent;
}
.main .solutions .box__content--title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0 15px;
  color: #0097b2;
  background-color: transparent;
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}
.main .aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  min-width: 90vw;
  max-width: 90vw;
}
.main .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem 0;
  color: #17265c;
  background-color: #17265c;
  min-width: 100vw;
  min-height: 30vw;
}
.main .about .box, .main .about .solutions .box--title, .main .solutions .about .box--title, .main .about .solutions .box--content, .main .solutions .about .box--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 25vw;
  gap: 1rem;
}
.main .about .box__title {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fafafa;
  background-color: transparent;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
.main .about .box__content {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fafafa;
  background-color: transparent;
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}
.main .about .box__button {
  color: #fafafa;
  background-color: #0097b2;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid transparent;
}
.main .about .box__button:hover {
  color: #fafafa;
  background-color: #00b4d4;
  border: 1px solid #fafafa;
}
.main .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
  color: #17265c;
  background-color: transparent;
  min-width: 95vw;
  max-width: 95vw;
}
.main .contact__row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0 15px;
  margin: 0;
  color: #17265c;
  background-color: transparent;
  min-width: 80vw;
  text-align: center;
}
.main .contact .box, .main .contact .solutions .box--title, .main .solutions .contact .box--title, .main .contact .solutions .box--content, .main .solutions .contact .box--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0;
  color: #17265c;
  background-color: transparent;
  min-width: 80vw;
  max-width: 80vw;
  overflow: hidden;
}
.main .contact .box__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0 15px;
  color: #17265c;
  background-color: transparent;
  min-width: 75vw;
  min-height: 4rem;
  font-size: 20px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.main .contact .box__content {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #17265c;
  background-color: transparent;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.main .contact .box__content--title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0 15px;
  color: #0097b2;
  background-color: transparent;
  font-size: 16px;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}
.main .contact .box__button {
  color: #fafafa;
  background-color: #0097b2;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid transparent;
}
.main .contact .box__button:hover {
  color: #fafafa;
  background-color: #00b4d4;
  border: 1px solid #fafafa;
}
.main .contact .box__map {
  padding: 0.5rem;
  margin: 0;
  width: 80vw;
  height: 420px;
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .main .solutions .box__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .main .solutions__row--content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    color: #17265c;
    background-color: transparent;
  }
  .main .solutions__row--title {
    color: #17265c;
    background-color: transparent;
  }
  .main .solutions .box, .main .solutions .box--title, .main .solutions .box--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 80vw;
    flex: 5;
  }
  .main .solutions .box--title {
    min-width: 85vw;
    max-width: 85vw;
  }
  .main .solutions .box--content {
    min-height: 17rem;
    padding-top: 2rem;
  }
  .main .aside__box {
    min-width: 85vw;
    max-width: 85vw;
  }
  .main .contact .box, .main .contact .solutions .box--title, .main .solutions .contact .box--title, .main .contact .solutions .box--content, .main .solutions .contact .box--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .main .contact .box--title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .main .contact .box--map {
    width: 85vw;
    height: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .main .solutions__row, .main .solutions__row--title, .main .solutions__row--content {
    min-width: 90vw;
    max-width: 90vw;
  }
  .main .solutions .box, .main .solutions .box--title, .main .solutions .box--content {
    min-width: 80vw;
    max-width: 80vw;
  }
  .main .aside__box {
    min-width: 80vw;
    max-width: 80vw;
  }
  .main .about .box__title {
    font-size: 40px;
  }
  .main .contact .box, .main .contact .solutions .box--title, .main .solutions .contact .box--title, .main .contact .solutions .box--content, .main .solutions .contact .box--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  .main .contact .box--map {
    width: 85vw;
    height: 700px;
  }
}

/*# sourceMappingURL=app.css.map */
