$neutral_darkest: #000000;
$neutral_darker: #1f1f1f;
$neutral_dark: #8f8f8f;
$neutral_main: #c2c2c2;
$border_lighter: #ddd;
$border_color: #dee2e6;
$neutral_light: #ececec;
$neutral_lighter: #fafafa;
$neutral_lightest: #ffffff;

$primary_darker: #003459;
$primary_dark: #00518C;
$primary_main: #0065AE;
$primary_light: #0079D0;
$primary_lighter: #26A4FF;

$secondary_darker: #6a6a69;
$secondary_dark: #8c8c8b;
$secondary_main: #9d9d9c;
$secondary_light: #aeaead;
$secondary_lighter: #d0d0cf;

// Success, warming and error
$danger_darker: #660000;
$danger_dark: #990000;
$danger_main: #ee0000;
$danger_light: #ff6666;
$danger_lighter: #ffeded;

$success_darker: #1a4d1a;
$success_dark: #008000;
$success_main: #66cc66;
$success_light: #99dd99;
$success_lighter: #eaffea;