.modal,
.modal__management {
  @extend .modalShadow;
  // To delete deleloperMode
  // display: block;

  &__box {
    @extend .modalBox;

    top: 20vh;
    left: 20vw;
    @include boxSize(width, 60vw, null, 60vw);
    @include boxSize(height, 60vh, null, 60vh);

    border: 1px solid $primary_main;

    .body {
      @extend .article;

      @include mainBox(column, space-around, flex-start);
      @include boxSize(width, 50vw, null, 50vw);
      @include boxSize(height, 50vh, null, 50vh);

      &__title {
        @extend .title;
      }

      .form {
        @extend .form;

        @include mainBox(column, flex-start, center);
        @include boxSize(width, 65vw, null, 65vw);
        // @include boxSize(height, 75vh, null, 75vh);

        &__group {
          &__content {
            @extend .subtitle;
          }

          &__input {
            @extend .formInput;
            @include boxSize(width, 35vw, null, 35vw);

            @include hover($neutral_lighter,
              $primary_light, $primary_main,
              $neutral_dark);
          }

          &__buttons {
            @include mainBox(row, space-between, center);
          }
        }
      }
    }

    .close {
      @include mainBox(column, center);
      @include style($danger_main, $danger_lighter);
      @include hover($danger_light, $danger_lighter, $danger_dark, $danger_main);
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 50px;
      cursor: pointer;
    }
  }
}

.danger {
  .modal__management__box {
    border: 1px solid $danger_main;

    .body {
      &__title {
        color: $danger_main;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {}

@media screen and (min-width: 601px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}