.aside {
  @include paddingMargin(0, 0);
  height: calc(100% - #{$nav_height});

  .leftBar {
    @include mainBox(column, flex-start, flex-start);
    @include style($primary_main, $secondary_lighter);
    @include paddingMargin(0, 0);
    @include boxSize(width, $aside_width, null, $aside_width);
    // @include boxSize(height, 90vh, null, 100vh);

    overflow: hidden;

    .list {
      @include mainBox(column, flex-start, flex-start);
      @include paddingMargin(0, 0);
      height: calc(100vh - #{$nav_height});
      align-self: flex-start;


      &__title {
        @extend .asideListTitle;
      }

      &__item {
        @include mainBox(row, flex-start, center);
        @include paddingMargin(0 0 0 calc($padding * 4), 0);
        align-self: flex-start;
        @include hover($primary_main, $neutral_main);

        &__icon {
          @include boxSize(width, 1rem, null, 1rem);
        }

        &__link {
          @extend .asideListItem;
        }
      }
    }
  }
}