.auth {
  @extend .modal;
  display: block;

  .row {
    @extend .modalBox;

    // @include paddingMargin(5rem $padding 2rem $padding, $margin);

    .box__title {
      @extend .title;
      margin-bottom: 2rem;
    }

    .form {
      @extend .form;

      @include mainBox(column, flex-start, center);
      @include boxSize(width, 75vw, null, 75vw);
      @include boxSize(height, 75vh, null, 75vh);

      &__group {
        &__content {
          @extend .content;
        }

        &__input {
          @extend .formInput;
          @include boxSize(width, 50vw, null, 50vw);
        }

        &__button {
          @extend .button;
        }

        &__consent {
          @extend .consent;
          gap: $gap ;


          &__check {
            appearance: checkbox;
            width: 1rem;
            height: 1rem;
          }

          &__content {
            @extend .content;

            hyphens: none;
          }
        }
      }
    }
  }
}