.home {
	@include mainBox(column, space-around, flex-start);
	@include style($primary_main, $neutral_light);
	font-size: $size_small;
	margin-top: $nav_height;
	gap: $gap;

	.row {
		@include mainBox(column, space-around, center);
		@include boxSize(width, 95vw, null, 95vw);
		@include paddingMargin(5rem $padding 2rem $padding, $margin);

		.box {

			&__title {
				@extend .title;
			}

			&__content {
				@extend .content;

				&--reverse {
					// reverse colors
					@include style($secondary_main);
				}
			}

			&__name {
				@extend .name;

				&--reverse {

					// reverse colors
					@include style($primary_main);
				}
			}

			&__image {
				@extend .image;

				overflow: hidden;
			}

			&__map {
				@include boxSize(width, null, 85vw);
				@include boxSize(height, null, 420px);
			}

			// &__button {
			// 	@extend .button;
			// }

			&__row {

				@include mainBox(column);
			}

			&__circle {


				.circle {
					@extend .circle;

					padding-top: 2rem;

					&__icon {
						@include mainBox(row, center, center);
						margin: 0 auto;
						@include circleStyle($neutral_lighter, 50%);
						@include boxSize(width, 5rem, null, 5rem);
						@include boxSize(height, 5rem, null, 5rem);

						img {
							@include boxSize(width, null, null, 50px);
							@include boxSize(height, null, null, 50px);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 376px) and (max-width: 600px) {
	.home {
		.row {
			.box {
				&__circle {
					.circle {

						@include boxSize(width, 20rem, null, 20rem);
						@include boxSize(height, 20rem);

						&__content {
							padding-top: 2rem;
							font-size: $size_small;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
	.home {
		.row {
			.box {
				&__row {
					@include mainBox(row, center, center);
				}

				&__button {
					@include paddingMargin(calc($padding * 3), calc($margin * 2));
				}

				&__circle {
					.circle {

						@include boxSize(width, 20rem, null, 20rem);
						@include boxSize(height, 20rem);

						&__content {
							padding-top: 2rem;
							font-size: $size_medium;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.home {
		.row {
			.box {
				&__title {
					font-size: $size_biggest;
				}

				&__button {
					@include paddingMargin(calc($padding * 3), calc($margin * 2));
				}

				&__row {

					@include mainBox(row, center, center);
				}


				&__circle {
					@include mainBox(row, center, center);
					gap: 5rem;

					.circle {
						@include boxSize(width, 20rem, null, 20rem);
						@include boxSize(height, 20rem);

						&__content {
							padding-top: 2rem;
							font-size: $size_medium;
						}
					}
				}
			}
		}
	}
}
