.species {
  @extend .main;

  @include mainBox(row, flex-start, flex-start);
  @include paddingMargin($nav_height 0 0 0, 0);
  gap: 0;

  .row {
    display: flex;
    flex: 1;
    @include paddingMargin(2rem 0, 0 auto);
    flex-direction: column;
    margin: 0 auto;

    .box {
      @extend .article;

      @include boxSize(width, 95%, null, 95%);

    }
  }
}