.termsAndPolicy {
  @extend .main;

  .row {
    @extend .section;

    // Here-> 
    @include paddingMargin(5rem $padding 2rem $padding, $margin);

    .box {
      @extend .article;

      &__title {
        @extend .title;
      }

      &__subtitle {
        @extend .subtitle;

        &__secondary {
          @extend .secondary;
        }
      }

      &__name {
        @extend .name;
      }

      &__content {
        @extend .content;
      }

      // Here->
      &__company {
        @include style($secondary_main);
      }

      &__image {
        @extend .image;

      }

      ul {
        @extend .unorderedList;
      }

      &__button {
        @extend .button;
      }

      &__logo {
        @extend .article;

        &__image {
          @extend .logo;

          a img {
            @include boxSize(height, 3.5rem);
          }
        }
      }
    }

    // Here-> columnas de información corporativa
    .info {
      @include mainBox(column, center, center);
      @include boxSize(width, 80vw, null, 80vw);
      gap: $gap;

      &__column__left {
        @include boxSize(width, 50vw, null, 50vw);

        .box__name {
          @include style($primary_main);
        }
      }

      &__column__right {
        @include boxSize(width, 50vw, null, 50vw);
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .termsAndPolicy {
    .row {
      .info {
        @include mainBox(row, center, center);

        &__column__left {
          @include mainBox(column, flex-end, flex-end);
          @include boxSize(width, 35vw, null, 35vw);
          text-align: right;
        }

        &__column__right {
          @include mainBox(column, flex-start, flex-start);
          @include boxSize(width, 35vw, null, 35vw);
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .termsAndPolicy {
    .row {
      .box__logo {
        @include mainBox(row, center, center);
        gap: 2rem;
      }

      .info {
        @include mainBox(row, center, center);

        &__column__left {
          @include mainBox(column, flex-end, flex-end);
          @include boxSize(width, 35vw, null, 35vw);
          text-align: right;
        }

        &__column__right {
          @include mainBox(column, flex-start, flex-start);
          @include boxSize(width, 35vw, null, 35vw);
          text-align: left;
        }
      }
    }
  }
}